{% extends 'base.html.twig' %}
{% block title %} Despacho > Crear Expediente {% endblock %}

{% form_theme form _self %}

  {% block invoice_concept_widget %}



          <div class="input-group">

            {{ form_widget(form.concept, {attr: { 'class': 'form-control', 'placeholder': 'Concepto' } }) }}
            {{ form_widget(form.amount, {attr: { 'class': 'form-control', 'placeholder': 'Cantidad' } }) }}
            &nbsp;&nbsp;<a href="#" class="remove-tag">[X]</a>
          </div><br/>



  {% endblock %}

{% block body %}

<div class="container content">
    <div class="row">
        <div class="col-9 py-3">
            <h2>Crear Factura</h2>

            <br/>

            <form action="{{ path('invoice_create', {'expedient_id':expedient_id}) }}" method="post">

            <div class="col-6 form-group">
                {{ form_row(form.kind, { label:'Tipo', attr: { 'class': 'form-control', 'placeholder': 'Tipo' } }) }}
            </div>

            <div class="col-6 form-group">

                {{ form_row(form.concept, { label:'Concepto', attr: { 'class': 'form-control', 'placeholder': 'Concepto' } }) }}

            </div>

            <div class="col-6 form-group">
                {{ form_row(form.amount, { label:'Cantidad', attr: { 'class': 'form-control', 'placeholder': 'Cantidad' } }) }}
            </div>

            <br>

            <h3>Conceptos</h3>

            <br>


            <div class="col-9 form-group invoiceConcepts" data-prototype="{{ form_widget(form.invoiceConcepts.vars.prototype)|e('html_attr') }}">


            </div>







            <div class="col-lg-2 pt-3">
                <button class="btn btn-primary" type="submit">Crear Factura</button>
            </div>

            {{ form_rest(form) }}

            </form>

            </div>
            </div>
            <!--/row-->
            </div>
            <!--container-->

{% endblock %}

{% block javascripts %}

<script>

// setup an "add a tag" link
var $addTagLink = $('<br><a href="#" class="add_tag_link">Añadir Concepto</a>');
var $newLinkLi = $('<div></div>').append($addTagLink);

jQuery(document).ready(function() {

   console.log("Hola");

   var $collectionHolder = $('div.invoiceConcepts');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see code block below)
        addTagForm($collectionHolder, $newLinkLi);
    });


});

function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '$$name$$' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<div></div>').append(newForm);

    // also add a remove button, just for this example
    //$newFormLi.append('<a href="#" class="remove-tag">x</a>');

    $newLinkLi.before($newFormLi);

    // handle the removal, just for this example
    $('.remove-tag').click(function(e) {
        e.preventDefault();

        $(this).parent().remove();

        return false;
    });
}




</script>



{% endblock %}
